name: Build (Windows)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-windows:
    name: Windows Standalone Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache Library
        uses: actions/cache@v4
        with:
          path: "Action Test/Library"
          key: Library-${{ runner.os }}-${{ hashFiles('Action Test/Assets/**', ' Action Test/Packages/**', 'Action Test/ProjectSettings/**') }}
          restore-keys: |
            Library-${{ runner.os }}-

      - name: Build
        uses: game-ci/unity-builder@v4
        env:
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
        with:
          projectPath: "Action Test"
          unityVersion: auto
          targetPlatform: StandaloneWindows64
          buildName: CI-Windows
          buildsPath: build

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: WindowsBuild
          path: "Action Test/build/StandaloneWindows64"
